<%# Expected options: { 'left': [...], 'right': [...] } %>
<% data = question.options.is_a?(Hash) ? question.options : {} %>
<% left = Array(data['left']) %>
<% right = Array(data['right']).shuffle %>

<div class="matching-table">
  <% left.each_with_index do |l, i| %>
    <div class="matching-row">
      <div class="match-left"><%= l %></div>
      <div class="match-line"></div>
      <div class="match-right"><strong><%= right[i] %></strong></div>
    </div>
  <% end %>
</div>
