<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'exam', media: 'all' %>
</head>
<body>
  <h1>Question Format Preview</h1>
  <% @random_questions.each_with_index do |question, index| %>
    <%= render 'questions/question', question: question, number: index + 1 %>
  <% end %>

  <div class="actions-bar">
    <%= link_to 'Regenerate Random Mix', question_types_preview_path %>
    <%= link_to 'Download PDF', question_types_preview_path(format: :pdf) %>
  </div>
</body>
</html>
