<%# Credit pill primitive for mark-scheme cards.
    Locals: kind (m|a|b|dm), n (integer). Partials for markup, helpers for logic. %>
<span class="mark mark--<%= kind %>"><%= "#{kind.to_s.upcase}#{n}" %></span>
