.type-panel-content
  %p.hint Calculation questions typically need a final value. Use the fields below to describe it.
  .form-row
    .form-field
      = form.label :unit, 'Unit'
      = form.text_field :unit, class: 'question-form__input'
