openapi: 3.0.3
info:
  title: test_generator API
  description: Exam and question generation API for self-testing
  version: 1.0.0

servers:
  - url: https://selftesting.louisraymond.com
    description: Production

security:
  - basicAuth: []

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

  schemas:
    Topic:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        question_count: { type: integer }

    TopicTree:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        modules:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              name: { type: string }
              position: { type: integer }
              learning_objectives:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    position: { type: integer }
                    category: { type: string }
                    description: { type: string }

    BulkResult:
      type: object
      properties:
        created: { type: integer }
        errors:
          type: array
          items:
            type: object
            properties:
              index: { type: integer }
              client_id: { type: string }
              message: { type: string }

    ExamResult:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        question_count: { type: integer }
        requested_count: { type: integer }
        pdf_url: { type: string }
        marking_scheme_url: { type: string }

    Error:
      type: object
      properties:
        error: { type: string }

    SectionSourceRuleInput:
      type: object
      required: [source_type, source_id]
      properties:
        source_type:
          type: string
          enum: [Topic, TopicModule, LearningObjective]
        source_id: { type: integer }
        weight:
          type: integer
          minimum: 1
          default: 1
        question_count_override:
          type: integer
          description: When set, this rule contributes exactly this many questions to the section, overriding weighted allocation.

    SectionQuestionRuleInput:
      type: object
      required: [question_id, rule_type]
      properties:
        question_id: { type: integer }
        rule_type:
          type: string
          enum: [force_include, exclude]
        repeat_count:
          type: integer
          minimum: 1
          default: 1
          description: How many times the question is inserted (force_include only).

    ExamSectionInput:
      type: object
      required: [name, position, question_count]
      properties:
        name: { type: string }
        position:
          type: integer
          minimum: 0
          description: Sort order within the template. Section A is position 0.
        question_count:
          type: integer
          minimum: 1
        duration_minutes: { type: integer }
        min_points: { type: integer }
        max_points: { type: integer }
        letter:
          type: string
          description: Optional explicit section letter (defaults to A/B/C... from position).
        question_type_filter:
          type: array
          description: Allowlist of question types this section accepts. Empty array = no filter.
          items:
            type: string
        section_source_rules_attributes:
          type: array
          items: { $ref: '#/components/schemas/SectionSourceRuleInput' }
        section_question_rules_attributes:
          type: array
          items: { $ref: '#/components/schemas/SectionQuestionRuleInput' }

    ExamTemplateInput:
      type: object
      required: [exam_template]
      properties:
        exam_template:
          type: object
          required: [name, exam_sections_attributes]
          properties:
            name: { type: string }
            description: { type: string }
            duration_minutes: { type: integer }
            subject: { type: string }
            paper_number: { type: string }
            tier:
              type: string
              enum: [foundation, higher, standard]
            exam_sections_attributes:
              type: array
              items: { $ref: '#/components/schemas/ExamSectionInput' }

    SectionSourceRule:
      allOf:
        - { $ref: '#/components/schemas/SectionSourceRuleInput' }
        - type: object
          properties:
            id: { type: integer }

    SectionQuestionRule:
      allOf:
        - { $ref: '#/components/schemas/SectionQuestionRuleInput' }
        - type: object
          properties:
            id: { type: integer }

    ExamSection:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        position: { type: integer }
        question_count: { type: integer }
        duration_minutes: { type: integer, nullable: true }
        min_points: { type: integer, nullable: true }
        max_points: { type: integer, nullable: true }
        letter: { type: string, nullable: true }
        question_type_filter:
          type: array
          items: { type: string }
        section_source_rules:
          type: array
          items: { $ref: '#/components/schemas/SectionSourceRule' }
        section_question_rules:
          type: array
          items: { $ref: '#/components/schemas/SectionQuestionRule' }

    ExamTemplateResponse:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        description: { type: string, nullable: true }
        duration_minutes: { type: integer, nullable: true }
        tier: { type: string, nullable: true }
        subject: { type: string, nullable: true }
        paper_number: { type: string, nullable: true }
        total_questions: { type: integer }
        total_duration: { type: integer, nullable: true }
        use_count: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        exam_sections:
          type: array
          items: { $ref: '#/components/schemas/ExamSection' }

    ExamTemplateSummary:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        description: { type: string, nullable: true }
        total_questions: { type: integer }
        total_duration: { type: integer, nullable: true }
        sections_count: { type: integer }
        use_count: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

paths:
  /up:
    get:
      summary: Health check
      security: []
      responses:
        '200': { description: OK }

  /api/topics:
    get:
      summary: List topics
      parameters:
        - name: name
          in: query
          schema: { type: string }
          description: Filter by exact topic name
      responses:
        '200':
          description: Array of topics
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Topic' }

    post:
      summary: Create topic with nested modules and learning objectives
      description: If a topic with the same name exists, returns the existing one (200). Otherwise creates (201).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                modules:
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      position: { type: integer }
                      learning_objectives:
                        type: array
                        items:
                          type: object
                          properties:
                            category: { type: string }
                            description: { type: string }
                            position: { type: integer }
      responses:
        '201':
          description: Topic created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TopicTree' }
        '200':
          description: Existing topic returned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TopicTree' }
        '422':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/topics/{id}:
    get:
      summary: Get topic with full module and LO tree
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TopicTree' }
        '404':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    delete:
      summary: Delete topic and all associated data
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Deleted }
        '404':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/topics/{topic_id}/topic_modules:
    post:
      summary: Create a module within a topic
      parameters:
        - name: topic_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic_module]
              properties:
                topic_module:
                  type: object
                  properties:
                    name: { type: string }
                    description: { type: string }
      responses:
        '201': { description: Module created }
        '422': { description: Validation error }

  /api/topics/{topic_id}/learning_objectives:
    post:
      summary: Create a learning objective within a topic
      parameters:
        - name: topic_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [learning_objective]
              properties:
                learning_objective:
                  type: object
                  properties:
                    description: { type: string }
                    category: { type: string }
                    topic_module_id: { type: integer }
      responses:
        '201': { description: LO created }
        '422': { description: Validation error }

  /api/topics/{topic_id}/learning_objectives/{id}:
    put:
      summary: Update a learning objective
      parameters:
        - name: topic_id
          in: path
          required: true
          schema: { type: integer }
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                learning_objective:
                  type: object
                  properties:
                    description: { type: string }
                    category: { type: string }
      responses:
        '200': { description: Updated }

    delete:
      summary: Delete a learning objective
      parameters:
        - name: topic_id
          in: path
          required: true
          schema: { type: integer }
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Deleted }

  /api/questions/{id}:
    delete:
      summary: Delete a question
      description: |
        Removes a question and any rows that depend on it via standard ActiveRecord
        cascades (notably `exam_questions` and `question_learning_objectives`).
        The owning topic, module, and learning objectives are preserved.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Deleted }
        '404':
          description: Question not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /questions/{id}/options_patch:
    patch:
      summary: Apply a per-type options command to a question
      description: |
        Mutates `question.options` jsonb via a small set of commands. Composite-only
        commands include:
          * `update_part: { index, stem, type, marks, answer_label, unit, answer_size }`
            — patches the part at `index` with whitelisted attrs. Returns 422 on an
            out-of-range index or when the question is not composite.
          * `add_part: { after }` — inserts a new part after the given index with
            defaults `{ stem: "", type: "written", marks: 1, answer_size: "medium" }`
            and shifts later parts. Returns 422 when the question is not composite.

        JSON callers receive `{ status: "ok" }`; HTML callers receive the
        re-rendered composite root partial so the editor can swap it in place.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                options:
                  type: object
                  description: One command keyed by name (e.g. `update_part`, `add_part`).
      responses:
        '200':
          description: Patch applied; JSON callers get :ok, HTML callers get the re-rendered composite root partial.
        '422':
          description: Invalid index, missing stem, or non-composite question for a composite-only command.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/questions/bulk:
    post:
      summary: Bulk-create questions for a topic
      description: |
        Max 500 questions per request. With `strict: true`, any error rolls back the entire batch.
        The `options` field format varies by question_type.
        Use `source_name` to look up a Source by name instead of providing `source_id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic_id, questions]
              properties:
                topic_id: { type: integer }
                strict: { type: boolean, default: false }
                questions:
                  type: array
                  maxItems: 500
                  items:
                    type: object
                    required: [content, question_type, answer, points]
                    properties:
                      client_id: { type: string }
                      content: { type: string }
                      question_type:
                        type: string
                        enum: [multiple_choice, short_answer, constructive, transfer, calculation, ordering, ranking, matching, diagram_label, image_occlusion, cloze, composite, markdown, code_analysis]
                      answer: { type: string }
                      points: { type: integer }
                      options:
                        description: |
                          Format varies by question_type. For `code_analysis`, an object with:
                            - `language` (string, optional — Rouge lexer name like "python", "ruby")
                            - `code` (string, required — the source to display)
                            - `answer_format` (string, required — "lines" or "multiple_choice")
                            - `choices` (array of {text, correct} objects, required when answer_format is "multiple_choice")
                          For `multiple_choice`, an array of {text, correct} objects.
                          For `matching`, an object with `left` and `right` string arrays of equal length.
                      topic_module_id: { type: integer }
                      source_id: { type: integer }
                      source_name: { type: string }
                      learning_objective_ids:
                        type: array
                        items: { type: integer }
                      answer_size:
                        type: string
                        enum: [short, medium, long]
                        nullable: true
                        description: |
                          Controls the height of the ruled writing space rendered below the question
                          in exam PDFs. Applies to free-text question types (markdown, short_answer,
                          calculation's working box, code_analysis, composite). Heights:
                            - short  ≈ 25mm
                            - medium ≈ 70mm
                            - long   ≈ 140mm
                          When omitted, defaults to 'short' at render time.
                      source_reference: { type: string }
                      answer_label:
                        type: string
                        description: |
                          Label shown next to the final-answer line in calculation questions (e.g. "x =", "t =").
                          Defaults to "answer" when omitted. Ignored by other question types.
                      unit:
                        type: string
                        description: |
                          Unit string rendered after the final-answer line in calculation questions
                          (e.g. "m/s", "kg"). Ignored by other question types.
      responses:
        '200':
          description: Questions created (possibly with partial errors)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulkResult' }
        '422':
          description: All failed (strict mode) or validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulkResult' }

  /api/exams:
    post:
      summary: Create an exam from available questions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic_ids, count]
              properties:
                title: { type: string, default: "Practice Exam" }
                topic_ids:
                  type: array
                  items: { type: integer }
                count: { type: integer }
                duration_minutes: { type: integer }
                strict: { type: boolean, default: false }
                types:
                  type: array
                  items: { type: string }
                  description: Filter by question types
                topic_module_ids:
                  type: array
                  items: { type: integer }
                  description: Filter by specific modules
                learning_objective_ids:
                  type: array
                  items: { type: integer }
                  description: Filter by specific learning objectives
      responses:
        '201':
          description: Exam created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExamResult' }
        '422':
          description: No matching questions or validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/exams/{id}/pdf:
    get:
      summary: Download exam as PDF
      description: |
        Renders via Chromium/Grover. May take 10-30 seconds.
        Defaults to the modern paper-style template (`exams/paper`).
        Pass `?style=legacy` to fall back to the original `exams/show` layout.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
        - name: font_size
          in: query
          schema: { type: integer, default: 14 }
        - name: question_spacing
          in: query
          schema: { type: integer, default: 18 }
        - name: style
          in: query
          description: '`modern` (default) renders the paper-style layout with section headers; `legacy` renders the original show template.'
          schema:
            type: string
            enum: [modern, legacy]
            default: modern
      responses:
        '200':
          description: PDF binary
          content:
            application/pdf: {}
        '404':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/exams/{id}/marking_scheme_pdf:
    get:
      summary: Download marking scheme as PDF
      description: |
        Defaults to the modern marker-paper layout (`exams/marker_paper`).
        Pass `?style=legacy` to fall back to the original `exams/marking_scheme` layout.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
        - name: style
          in: query
          description: '`modern` (default) or `legacy`.'
          schema:
            type: string
            enum: [modern, legacy]
            default: modern
      responses:
        '200':
          description: PDF binary
          content:
            application/pdf: {}
        '404':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/exam_templates:
    get:
      summary: List exam templates
      description: Returns a summary list ordered by `created_at` desc.
      responses:
        '200':
          description: Array of exam-template summaries
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ExamTemplateSummary' }

    post:
      summary: Create an exam template with sections and rules
      description: |
        Creates a sectioned `ExamTemplate` in a single nested payload. Each section can
        filter the candidate pool by `question_type` and pin specific questions via
        `force_include` rules (or remove them via `exclude` rules). Use `POST /api/exam_templates/{id}/generate`
        to materialise an `Exam` from the template.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExamTemplateInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExamTemplateResponse' }
        '422':
          description: Validation error (e.g. force_include question's type isn't allowed by the section's question_type_filter, or referenced question_id does not exist)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/exam_templates/{id}:
    get:
      summary: Fetch a single exam template with its full nested structure
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Exam template
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExamTemplateResponse' }
        '404':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/exam_templates/{id}/generate:
    post:
      summary: Materialise an exam from a template
      description: |
        Generates an `Exam` from the template using `preserve_order: true` semantics —
        `force_include` questions are inserted in the order their rules were created,
        and section ordering is preserved. If a section's `force_include` count exceeds
        its `question_count`, the call returns 422 (no silent truncation).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Optional exam title. Defaults to `"{template.name} - {today}"`.
      responses:
        '201':
          description: Exam generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  exam_id: { type: integer }
                  title: { type: string }
                  question_count: { type: integer }
                  pdf_url: { type: string }
                  marking_scheme_url: { type: string }
                  sections:
                    type: array
                    items:
                      type: object
                      properties:
                        position: { type: integer }
                        name: { type: string }
                        question_count: { type: integer }
        '422':
          description: Generation failed (e.g. over-pinned section or type-filter mismatch)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
